@font-face
{
  font-family: "matrix";
  src: local('./../font/matrix.ttf');
}

body,html{margin:0;box-sizing:border-box;}
html{height: 100vh;width:100vw;}
body
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#autre
{
  margin: 25px auto;
  height: 70vh;
  display:grid;
  grid-template-columns: 35vw 35vw;
  grid-template-rows: 35vh 35vh;
  grid-template-areas: "a c" "b c" 
}

.S1{grid-area: a;background-color: brown;}
.S3{grid-area: b;background-color: yellow;}
.S2{grid-area: c; background-color: purple;}

#controlPanel{height: 30%;width: 100%;display:flex;flex-direction: row;justify-content: space-around;  align-items: center;}
.myConsole
{
  color:rgb(0,0,0);
  font-family: "matrix";
  font-size: 11pt;
  height: 150px;
  width: 500px;
  padding: 16px;
  background-color:rgb(255,255,255);
  overflow:hidden;
  resize:none;
  border: 1px solid rgb(0,0,0);
}
#globalBtn
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 300px;
  background-color: purple;
}

#requestBtn
{
  display: flex;
  flex-wrap: nowrap;
}
